<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post2</title>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/font/flaticon.css">
    <link rel="stylesheet" href="assets/css/media-queries.css">
</head>
<body>
    <header>
        <section class="header-icons-container">
            <div class="icons">
                <a href="https://www.facebook.com/NASA" target="_blank"><span class="flaticon-001-facebook"></span></a>
                <a href="https://twitter.com/NASAPersevere" target="_blank"><span class="flaticon-002-twitter"></span></a>
                <a href="https://www.instagram.com/nasa/" target="_blank"><span class="flaticon-011-instagram"></span></a>
                <a href="https://es.linkedin.com/company/spacex" target="_blank"><span class="flaticon-010-linkedin"></span></a>
                <a href="https://www.youtube.com/user/NASAtelevision" target="_blank"><span class="flaticon-008-youtube"></span></a>
            </div>
        </section>
        <nav>
            <section class="nav-logo-container">
                <a href="/"><img src="assets/img/Astronomy-blog-logo.png" alt="Logo de mi blog" > </a>
            </section>
            <section class="profile-link">
                <a href="./perfil">Conocenos!</a>
            </section>
        </nav>
    </header>
    <main>
        <section class="grid-container blogpost-img-container">
            <img src="assets/img/post-2.png" alt="main photo">
        </section>
        <section class="blogpost-main-container">
            <div class="grid-container">
                <h3>Noticias</h3>
                <article>
                    <h1>Título del Blogpost</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ratione dolor nobis veniam soluta animi cupiditate. Natus, tenetur. Veniam, eligendi quas? Voluptas, pariatur? Pariatur enim ratione incidunt officiis nobis tempora!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae maxime maiores voluptate labore ex. Cumque sit accusamus ducimus. Dolorum doloremque nobis mollitia beatae? Sapiente deleniti harum, accusamus hic vitae ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus officia est praesentium, perferendis totam veritatis voluptatum architecto numquam cumque eveniet vero doloribus reiciendis perspiciatis, voluptas dolores voluptatibus. Neque, iusto inventore!Lorem</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, quia quasi assumenda, sequi minima id laboriosam esse, aspernatur praesentium molestiae quo nobis harum vel obcaecati dolorum sint quae quidem eaque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repellendus neque voluptatem itaque sapiente in perferendis fugiat voluptate, harum iure, error voluptas deserunt officia consectetur veniam omnis aspernatur nihil officiis?</p>
                </article>
            </div>
        </section>
        <section class="post-relacionados">
            <h2>Post Relacionados</h2>
            <div>
                <img src="assets/img/post-1.png" alt="relacionado1">
                <div class="relacionado-left">
                    <a href="./post1">Posteo relacionado</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, libero deleniti ut repudiandae minima.</p>
                </div>
            </div>
            <div>
                <img src="assets/img/post-3.png" alt="relacionado2">
                <div class="relacionado-right">
                    <a href="./post3">Posteo relacionado</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados AstroBlog® </p>
    </footer>
</body>
</html>